@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


body{
    margin: 0;
    padding: 0;


    /* font'n stuff*/

    font-family: 'Inter';
    font-style: normal;




}

    /*HEADER SECTION*/

.header {

    width: 100%;
    height: 5vw;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5%;

    background-color: #242526;

    font-weight: 500;
    font-size: 1.25vw;
    line-height: 24px;
    color: aliceblue;

    position: sticky;
    top: 0;
    z-index: 100000;
   
    
}

#menu-deroulant, #menu-deroulant ul {
    padding: 0;
    margin: 0;
    list-style: none;


}
#menu-deroulant {
    text-align: center;
    
}
#menu-deroulant li {
    display: inline-block;
    
}
#menu-deroulant ul li {
    display: inherit;
    padding-top: 20%;
}
#menu-deroulant a {
    text-decoration: none;
    display: block;
	color:#FFFFFF;
    

}
#menu-deroulant ul {
    position: absolute;
    left: -999em;
    text-align: left;
    z-index: 1000;

    
    
}
#menu-deroulant li:hover ul {
    left: auto;
    
}

#menu-deroulant ul li a:hover {

    color: #FF8A00;
}

#menu-deroulant a:hover {
    color: #FF8A00;

}

.card1 {

    width: 100px;
    cursor: pointer;
}


.card1:hover {
    
    color: #FF8A00;
  }


.card1_logo {

    margin-right: auto;
    margin-left: 56px;

    cursor: pointer;

}
.card1_logo img {
    max-width: 100%;
    height: auto;

}


.card1_shop {

    margin-right: 3%;
    cursor: pointer;

}
.card1_shop img{

    max-width: 100%;
    height: auto;


}


    /*PRODUCT SECTION*/

.product_outer{

    min-height: 64vw;

    padding: 70px;  
    background-color: #181818;
    background-size: cover;
    
}

.product_inner {

    min-height: 32vw;
    background-color: #242526;
    color: #FFFFFF;
    padding-bottom: 5%;
    padding-right: 5%;
    padding-left: 5%;
}


.product_inner_name {
    display: flex;

    font-size: 2em;
    font-weight: bold;


}

.product_inner_item {

    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
}




.item_media {
    display: flex;


}

.item_media img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: bottom;
    transform: scaleX(-1);
}

.item_name {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    margin-right: auto;
    margin-left: 2%;
}




.item_number {

    min-height: 25px;
    min-width: 150px;

    
    display: flex;
    align-items: center;
    justify-content: space-around;

    


    font-family: inherit;


    padding: 2px;
    border-radius: 28px;


    border: 1px solid rgb(255, 255, 255);

}

.item_btn {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;




}

.arrow_up{
    width: 6px;
    height: 6px;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    position: relative;
    transform: rotate(-135deg);
    margin: 0 6px;
    cursor: pointer;    

}
.arrow_down{
    width: 6px;
    height: 6px;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    position: relative;
    transform: rotate(45deg);
    margin: 0 6px;
    cursor: pointer;

}




.item_price {
display: flex;
align-items: center;
margin-right: 7%;
gap: 7%;

}




.product_inner_stotal {


    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.stotal_prix {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    
}
.stotal_prix_all {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;




}

.stotal_prix_1 {

    display: flex;
    align-items: center;
    justify-content: center;



}

.stotal_prix_2 {

    display: flex;
    align-items: center;
    font-size: 15px;
    gap: 7%;


}



.stotal_promo {

display: flex;
align-items: center;
justify-content: center;
margin-left: 40%;
margin-right: 25px;



}

.stotal_promo input{

    height: 25px;
    width: 400px;
    padding: 2px;
    border-radius: 28px;

    background-color: transparent;


    border: 1px solid rgb(255, 255, 255);


}

.stotal_button button{


    
    display: flex;
    justify-content: center;
    align-items: center;

    width: 200px;
    height: 55px;

    margin-right: 100px;
    background: linear-gradient(270deg, #FF8A00 0%, #FBAF0B 50%, #FF8A00 100%);
    border: none;
    cursor: pointer;
    border-radius: 5px;

    font-family: 'Inter';
    font-weight: bolder;
    color: white;
    font-size: 1.25vw;
    text-align: left;
}



.footer {


    min-height: 10vw;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background-color: #242526;
    gap: 10%;

    font-size: 0.75vw;
    color: aliceblue;
   
}

.footer_logo img{

    height: 100%;
    width: auto;
    margin-left: 20px;
}



.footer_payement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.footer_payement img{

    max-width: 75%;
    height: auto;
}

.footer_social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.footer_social img{
    max-width: 75%;
    height: auto;
}

.footer_address p {
    font-size: 1.3rem;
}