@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');




  
body{
    margin: 0;
    padding: 0;


    /* font'n stuff*/

    font-family: 'Inter';
    font-style: normal;

    background-color: black;


}

    /*HEADER SECTION*/

.header {

    width: 100%;
    height: 5vw;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5%;
    background-color: #242526;

    font-weight: 500;
    font-size: 1.25vw;
    line-height: 24px;
    color: aliceblue;

    position: sticky;
    top: 0;
    z-index: 100000;
   
    
}


/* menu déroulant */

#menu-deroulant, #menu-deroulant ul {
    padding: 0;
    margin: 0;
    list-style: none;


}
#menu-deroulant {
    text-align: center;
    
}
#menu-deroulant li {
    display: inline-block;
    
}
#menu-deroulant ul li {
    display: inherit;
    padding-top: 20%;
}
#menu-deroulant a {
    text-decoration: none;
    display: block;
	color:#FFFFFF;
    

}
#menu-deroulant ul {
    position: absolute;
    left: -999em;
    text-align: left;
    z-index: 1000;
    
}
#menu-deroulant li:hover ul {
    left: auto;
    
}

#menu-deroulant ul li a:hover {

    color: #FF8A00;
}

#menu-deroulant a:hover {
    color: #FF8A00;

}

.card1 {

    width: 100px;
    cursor: pointer;
}


.card1:hover {
    
    color: #FF8A00;
  }


.card1_logo {

    margin-right: auto;
    margin-left: 56px;

    cursor: pointer;

}
.card1_logo img {
    max-width: 100%;
    height: auto;

}


.card1_shop {

    margin-right: 3%;
    cursor: pointer;

}
.card1_shop img{

    max-width: 100%;
    height: auto;


}

/*HERO SECTION*/


.hero {

background-image: url("assets/background_full.png");
background-size: cover;


}

.card2_up {

    max-width: 100%;
    height: 30vw;



    display: flex;
    align-items: center;
    justify-content: center;

}

.card2_up_left {

    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    

}

.inner_card2_up_right {

    display: flex;
    align-items: center;
    justify-content: center;
    
    
    font-family: 'Inter';
    font-weight: bolder;
    color: white;
    font-size: 4vw;
    text-align: left;


}

.card2_down {

    width: 100%;
    height: 30vw;



    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.inner_card2_down_media {

    width: 20%;
    height: 50%;
    
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

}
.inner_card2_down_media img{

    width: 100%;
    height: auto;
    
}



.inner_card2_down_title {

    font-family: 'Inter';
    font-weight: bolder;
    color: white;
    font-size: 16vw;
    text-align: left;

}

.inner_card2_down_button {

    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 200px;
    height: 55px;

    background: linear-gradient(270deg, #FF8A00 0%, #FBAF0B 50%, #FF8A00 100%);
    border: none;
    cursor: pointer;
    border-radius: 5px;

    font-family: 'Inter';
    font-weight: bolder;
    color: white;
    font-size: 1.25vw;
    text-align: left;

    margin-top: 30%;

}


/*DESCRIPTION SECTION*/

.descri {


    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color:#18191A;

    align-items: flex-start;


    width: 100%;
    height: 80vw;

    font-size: 1.25vw;



}

.descri p{

    font-family: 'Inter';
    font-weight: 200;
    color: white;


    margin-left: 20%;
    margin-right: 20%;



}
.descri h1 {

    color: white;

    font-weight: 600;
    
    margin-left: 20%;
    margin-right: 20%;



}

.pannel {

    width: 100%;
    height: 40vw;

    display: flex;
    align-items: center;
    justify-content: start;

    background-color:#18191A;
    background-image: url("assets/figurine_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;



}

.pannel_inner {
    
    width: 32%;



  
    color: white;
    font-weight: 400;
    font-size: 2vw; 
    margin-left: 10%;

    text-align: left;

}


    /*Ending Section*/

.ending {

    width: 100%;
    height: 40vw;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;

    background-color: #18191A;

}

.ending_left {

    margin-left: 10%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.ending_left img {

    max-width: 100%;
 

}

.ending_right {
    margin-right: 10%;

    display: flex;
    flex-direction: column;

    
    font-family: 'Inter';
    font-weight: 200;
    color: #FFFFFF;
    font-size: 1.5vw;

    text-align: right;



}


    /*Footer Section*/

.footer {

    width: 100%;
    height: 10vw;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background-color: #242526;
    gap: 10%;

    font-size: 0.75vw;
    color: aliceblue;
   
}

.footer_logo img{

    height: 100%;
    width: auto;
    margin-left: 20px;
}


.footer_payement {

    display: flex;
    align-items: center;

    flex-wrap: wrap;





}


.footer_social {
    display: flex;
    align-items: center;
    flex-wrap: wrap;





}
.footer_payement img{

    display: flex;
    flex-direction: row;

    max-width: 75%;
    height: auto;

    
}

.footer_social img{
    max-width: 75%;
    height: auto;
    display: flex;
    flex-direction: row;
}

/*MEDIA QUERIES */ 

@media screen and (max-width: 1024px) {
    .card2_up_left img{

        height: 75%;
        width: 85%;
    }

    .inner_card2_down_media img{

        height: auto;
        width: 100%;
    }
    .inner_card2_down_button {

        width: 150px;
        height: 40px;
    
        margin-top: 37%;
    
    }
    

    .footer_logo img{
    
        height: 75%;
        width: 75%;
        margin-left: 20px;
    }

    .footer_payement img{
        width: 15%;
        height: 15%;  
    }
    
    .footer_social img{
        width: 15%;
        height: 15%;  
    }

  }


  @media screen and (max-width: 768px) {
    .card2_up_left img{

        height: 55%;
        width: 65%;
    }

    .inner_card2_down_media img{

        height: auto;
        width: 100%;
    }


  }

  @media screen and (max-width: 425px) {

    .card1_logo {

        max-width: 15%;

    
    }
    
    .card1_shop {
    
        width: 5%;
        height: auto;

    }
    
    .card2_up_left img{

        height: 45%;
        width: 55%;
    }

    .inner_card2_down_media img{

        height: auto;
        width: 100%;
    }

    .inner_card2_down_button {

        width: 100px;
        height: 20px;
    
        margin-top: 37%;
    
    }


}
@media screen and (max-width: 320px) {

    .card2_up_left img{

        height: 45%;
        width: 55%;
    }

    .inner_card2_down_media img{

        height: auto;
        width: 100%;    
    }

    .descri {

        height: 130vh;
        width: 100%;

        font-size: 4vw;
    }

    .card2_down {

        height: 35vh;

    }
    .pannel {
        max-width: 100%;
        height: 35vh;

        justify-content: center;
        align-items: center;

    }
    .pannel_inner {
        font-size: 3vw;
        width: 100%;
    }

}


/* SCROLLBAR */ 

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: darkgray; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: darkgray; 
  }
